*.class
*.iml
*.jar
*~
.classpath
.clj-kondo/.cache
.cpcache
.idea
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.shadow-cljs
.vscode
node_modules
lib
dist
target

.env.local
.env.production
.env
!.env.example
!.envrc
