{:paths   ["src/main/clojure" "src/main/resources"]

 :deps    {thheller/shadow-cljs {:mvn/version "2.19.5"}
           org.babashka/sci     {:git/url "https://github.com/babashka/sci"
                                 :git/sha "308f6164f31b22401cbcf6339823e7c0382b38f1"}}

 :aliases {:develop          {:extra-paths ["src/develop/clojure" "src/develop/resources"]
                              :extra-deps  {org.clojure/clojure       {:mvn/version "1.12.0-alpha1"}
                                            org.clojure/clojurescript {:mvn/version "1.11.60"}}}

           :test             {:extra-paths ["src/test/clojure" "src/test/resources"]}

           :nop              {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}}

           :outdated         {:extra-deps {com.github.liquidz/antq {:mvn/version "1.9.859"}}
                              :main-opts  ["--main" "antq.core"]}

           :outdated/upgrade {:main-opts ["--main" "antq.core" "--upgrade" "--force"]}}}
